<%= form_for(@category) do |c| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@category.errors.count, "error") %> prohibited this tag from being saved: </h2>

    <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
    <div class: 'control-label'>
        <%= c.label "Categoria"  %><br/>
        <%= c.text_field :name %>  
    </div>
    <div class="actions">
      <%= c.submit %>
    </div>
<% end %>
