<%= form_for(@source) do |s| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@source.errors.count, "error") %> prohibited this tag from being saved: </h2>

    <ul>
    <% @source.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
    <div class: 'control-label'>
        <%= s.label "Fonte"  %><br/>
        <%= s.text_field :name %>
    </div>
    <div class="actions">
      <%= s.submit %>
    </div>
<% end %>
