<%= form_for(@preference_category) do |pc| %>
  <% if @preference_category.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@preference_category.errors.count, "error") %> prohibited this tag from being saved: </h2>

    <ul>
    <% @preference_category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
    <div class: 'control-label'>
      <%= pc.label "Fonte"  %><br/>
      <%= collection_check_boxes(:preference_category, :category_name, Category.all, :name, :name, include_hidden: false ) %>
    </div>
    <div class="actions">
      <%= pc.submit %>
    </div>
<% end %>
